dummyapp/src/main/mule/dummyapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fe59492f-8e13-4f3d-be19-c6ae57d2df0a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyappFlow" doc:id="646f2824-06c1-45b1-91b2-722f62360ff2" >
		<http:listener doc:name="Listener" doc:id="d032afaa-e9cc-4e91-8208-7992e1ea1736" config-ref="HTTP_Listener_config" path="dum"/>
		<set-payload value='#["hello dummy"]' doc:name="Set Payload" doc:id="c0513404-31b2-464c-a91c-01a3121067f6" />
	</flow>
</mule>
